---
# vars file for node-prep
package_list:
  - "{{ firewall }}"
  - tar
  - libvirt
  - qemu-kvm
  - python3-devel
  - jq
  - ipmitool
  - python3-libvirt
  - python3-lxml
  - python3-yaml
  - NetworkManager-libnm
  - nm-connection-editor
  - libsemanage-python3
  - policycoreutils-python3
  - https://trunk.rdoproject.org/rhel8-master/deps/latest/Packages/python3-crypto-2.6.1-18.el8ost.x86_64.rpm
  - https://trunk.rdoproject.org/rhel8-master/deps/latest/Packages/python3-pyghmi-1.0.22-2.el8ost.noarch.rpm

cache_package_list:
  - podman

qtype: "{{ 'qtype=AAAA' if ipv6_enabled is defined and ipv6_enabled|bool else 'qtype=A' }}"

# Temporary state variables for disconnected registry
drm_set: false
dra_set: false
registry_host_exists: false
