---
# vars file for node-prep
# the ternary states if provision host has no online access
# just verify the python3-crypto, python3-pyghmi packages are present
# otherwise attempt to install them from trunk.rdoproject.org
package_list:
  - "{{ firewall }}"
  - tar
  - libvirt
  - qemu-kvm
  - python3-devel
  - jq
  - ipmitool
  - python3-libvirt
  - python3-lxml
  - python3-yaml
  - NetworkManager-libnm
  - nm-connection-editor
  - libsemanage-python3
  - policycoreutils-python3
  - "{{ (check_url.status == -1) | ternary('python3-crypto','https://trunk.rdoproject.org/rhel8-master/deps/latest/Packages/python3-crypto-2.6.1-18.el8ost.x86_64.rpm') }}"
  - "{{ (check_url.status == -1) | ternary('python3-pyghmi','https://trunk.rdoproject.org/rhel8-master/deps/latest/Packages/python3-pyghmi-1.0.22-2.el8ost.noarch.rpm') }}"

cache_package_list:
  - podman

qtype: "{{ ((ipv6_enabled|bool and (ipv4_baremetal|bool or dualstack_baremetal)) or (not ipv6_enabled|bool)) | ternary('qtype=A', 'qtype=AAAA') }}"


# Temporary state variables for disconnected registry
drm_set: false
dra_set: false
registry_host_exists: false

roothint_list:
  - deviceName
  - hctl
  - model
  - vendor
  - serialNumber
  - minSizeGigabytes
  - wwn
  - wwnWithExtension
  - wwnVendorExtension
  - rotational
  - ''
