apiVersion: v1
baseDomain: {{ domain }}
metadata:
  name: {{ cluster }}
networking:
  machineCIDR: {{ extcidrnet }}
  networkType: {{ network_type }}
compute:
- name: worker
  replicas: {{ numworkers }}
controlPlane:
  name: master
  replicas: {{ nummasters }}
  platform:
    baremetal: {}
platform:
  baremetal:
    apiVIP: {{ apivip }}
    ingressVIP: {{ ingressvip }}
    dnsVIP: {{ dnsvip }}
{% if (release_version[0]|int >= 4) and (release_version[2]|int > 3) %}
    provisioningNetworkInterface: {{ prov_nic }}
{% endif %}
    hosts:
{% for host in groups['masters'] %}
      - name: {{ hostvars[host]['name'] }}
        role: {{ hostvars[host]['role'] }}
        bmc:
          address: ipmi://{{ hostvars[host]['ipmi_address'] }}
          username: {{ hostvars[host]['ipmi_user'] }}
          password: {{ hostvars[host]['ipmi_password'] }}
        bootMACAddress: {{ hostvars[host]['provision_mac'] }}
        hardwareProfile: default
{% endfor %}
{% for host in groups['workers'] %}
      - name: {{ hostvars[host]['name'] }}
        role: {{ hostvars[host]['role'] }}
        bmc:
          address: ipmi://{{ hostvars[host]['ipmi_address'] }}
          username: {{ hostvars[host]['ipmi_user'] }}
          password: {{ hostvars[host]['ipmi_password'] }}
        bootMACAddress: {{ hostvars[host]['provision_mac'] }}
        hardwareProfile: unknown
{% endfor %}
pullSecret: '{{ pullsecret }}'
sshKey: '{{ key }}'
