apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: {{ item }}
  name: 98-{{ item }}-etc-chrony-conf
spec:
  config:
    ignition:
      config: {}
      security:
        tls: {}
      timeouts: {}
{% if ((release_version[0]|int == 4) and (release_version[2]|int > 5)) %}
      version: 3.1.0
{% endif %}
{% if ((release_version[0]|int == 4) and (release_version[2]|int < 6)) %}
      version: 2.2.0
{% endif %}
    networkd: {}
    passwd: {}
    storage:
      files:
      - contents:
          source: data:text/plain;charset=utf-8;base64,{{ chronyconfig }}
{% if ((release_version[0]|int == 4) and (release_version[2]|int < 6)) %}
          verification: {}
        filesystem: root
{% endif %}
        group:
          name: root
        mode: 420
{% if ((release_version[0]|int == 4) and (release_version[2]|int > 5)) %}
        overwrite: true
{% endif %}
        path: /etc/chrony.conf
        user:
          name: root
{% if ((release_version[0]|int == 4) and (release_version[2]|int < 6)) %}
    systemd: {}
{% endif %}
  osImageURL: ""
