listen-address={{ extcidrnet | next_nth_usable(1) }}
bind-interfaces
strict-order
local=/{{ cluster }}.{{ domain }}/
domain={{ cluster }}.{{ domain }}
expand-hosts
except-interface=lo
except-interface={{ lab_pub_nic }}
interface=baremetal
{% if jumbo_mtu %}
dhcp-option=baremetal,26,9000
{% endif %}
dhcp-range={{ extcidrnet | next_nth_usable(10) }},{{ extcidrnet | ipaddr('last_usable') }}
dhcp-no-override
dhcp-authoritative
{% for node in ocp_deploying_node_content.nodes %}
dhcp-host={{ node.bm_mac }},{{ node.ext_ip }},{{ node.host_name }}
{% endfor %}
address=/ns1.{{ cluster }}.{{ domain }}/{{ dnsvip }}
address=/api.{{ cluster }}.{{ domain }}/{{ apivip }}
address=/.apps.{{ cluster }}.{{ domain }}/{{ ingressvip }}
