---
- name: Setup Bridge Creation
  block:
    - name: Get the provision connection name
      shell: |
        nmcli device show {{ prov_nic }} | grep GENERAL.CONNECTION | awk '{sub(/[^ ]+[ ]+/,"")}1'
      register: prov_con_name
      when:
        - not enable_virtualmedia|bool

    - name: Get the public connection name
      shell: |
        nmcli device show {{ pub_nic }} | grep GENERAL.CONNECTION | awk '{sub(/[^ ]+[ ]+/,"")}1'
      register: pub_con_name

    - name: Disconnect provisioning bridge connection
      command: |
        nmcli dev dis "{{ provisioning_bridge }}"
      ignore_errors: true
      when:
        - not enable_virtualmedia|bool

    - name: Delete {{ prov_con_name.stdout }} due to modify nmcli bug
      nmcli:
        conn_name: "{{ prov_con_name.stdout }}"
        type: ethernet
        state: absent
      when:
        - not enable_virtualmedia|bool
        - prov_con_name.stdout != '--'

    - name: Delete {{ prov_nic }} due to modify nmcli bug
      nmcli:
        conn_name: "{{ item }}"
        type: ethernet
        state: absent
      with_items:
        - "{{ prov_nic }}"
        - "System {{ prov_nic }}"
      when:
        - not enable_virtualmedia|bool
        - prov_con_name.stdout != '--'

    - name: Delete provisioning bridge if it exists
      nmcli:
        conn_name: "{{ provisioning_bridge }}"
        state: absent
      when:
        - not enable_virtualmedia|bool

    - name: set provisioning network fact
      set_fact:
        prov_bridge_ip: "{{ prov_network | next_nth_usable(1) }}/{{ prov_network | ipaddr('prefix') }}"
      when:
        - prov_network is defined and prov_network

    - name: Create Bridge labeled provisioning bridge ipv4
      nmcli:
        conn_name: "{{ provisioning_bridge }}"
        type: bridge
        ifname: "{{ provisioning_bridge }}"
        autoconnect: true
        ip4_method: manual
        ip6_method: disabled
        stp: false
        ip4: "{{ prov_bridge_ip | default('172.22.0.1/21') }}"
        state: present
      when: (not enable_virtualmedia) and
            ((ipv4_provisioning|bool) or (not ipv6_enabled|bool) or
            ((release_version.split('.')[0]|int == 4) and (release_version.split('.')[1]|int == 3)))

    - name: Create Bridge slave on provisioning nic ipv4
      nmcli:
        conn_name: "{{ prov_nic }}"
        type: bridge-slave
        hairpin: false
        ifname: "{{ prov_nic }}"
        master: "{{ provisioning_bridge }}"
        autoconnect: true
        state: present
      when: (not enable_virtualmedia) and
            ((ipv4_provisioning|bool) or (not ipv6_enabled|bool) or
            ((release_version.split('.')[0]|int == 4) and (release_version.split('.')[1]|int == 3)))

    - name: Create Bridge labeled provisioning bridge ipv6
      nmcli:
        conn_name: "{{ provisioning_bridge }}"
        type: bridge
        ifname: "{{ provisioning_bridge }}"
        autoconnect: true
        stp: false
        ip6: fd00:1101::1/64
        state: present
        ip4_method: disabled
        ip6_method: manual
      when:
        - not enable_virtualmedia|bool
        - ipv6_enabled|bool
        - release_version.split('.')[0]|int == 4 and release_version.split('.')[1]|int > 3 or
          release_version.split('.')[0]|int > 4
        - not ipv4_provisioning|bool

    - name: Create Bridge slave on provisioning nic ipv6
      nmcli:
        conn_name: "{{ prov_nic }}"
        type: bridge-slave
        hairpin: false
        ifname: "{{ prov_nic }}"
        master: "{{ provisioning_bridge }}"
        autoconnect: true
        state: present
      when:
        - not enable_virtualmedia|bool
        - ipv6_enabled|bool
        - release_version.split('.')[0]|int == 4 and release_version.split('.')[1]|int > 3 or
          release_version.split('.')[0]|int > 4
        - not ipv4_provisioning|bool

    - name: Create Bridge labeled {{ baremetal_bridge }} for ipv4
      nmcli:
        conn_name: "{{ baremetal_bridge }}"
        type: bridge
        ifname: "{{ baremetal_bridge }}"
        autoconnect: true
        stp: false
        state: present
      when: (not ipv6_enabled|bool) or
            (ipv4_baremetal|bool)

    - name: Create Bridge labeled {{ baremetal_bridge }} for ipv6/dual-stack
      nmcli:
        conn_name: "{{ baremetal_bridge }}"
        type: bridge
        ifname: "{{ baremetal_bridge }}"
        autoconnect: true
        stp: false
        state: present
        ip6_dhcp_duid: ll
      when: ipv6_enabled|bool and not ipv4_baremetal|bool

    - name: Create Bridge slave on {{ pub_nic }}
      nmcli:
        conn_name: "{{ pub_con_name.stdout }}"
        type: bridge-slave
        hairpin: false
        id: "{{ pub_nic }}"
        ifname: "{{ pub_nic }}"
        master: "{{ baremetal_bridge }}"
        autoconnect: true
        state: present

    - name: Reload {{ baremetal_bridge }} bridge and slave interfaces
      shell: |
        /usr/bin/nmcli con reload {{ item }}; /usr/bin/nmcli con up {{ item }}
      with_items:
        - "{{ baremetal_bridge }}"
        - "{{ pub_nic }}"

    - name: Reload provisioning bridge and slave interfaces
      shell: |
        /usr/bin/nmcli con reload {{ item }}; /usr/bin/nmcli con up {{ item }}
      with_items:
        - "{{ provisioning_bridge }}"
        - "{{ prov_nic }}"
      when:
        - not enable_virtualmedia|bool
  become: true
  tags: network
