---
- name: Add "{{ ansible_user }}" user to libvirt group and get ssh key setup
  user:
    name: "{{ ansible_user }}"
    groups: libvirt
    append: true
    state: present
    generate_ssh_key: true
  become: true
  tags: user
